  <% if current_user%>
    <div class="jumbotron">
      <div class="container center">
        <h2>Hi ,<strong><%=current_user.name%>!</strong></h2>
        <h3>Pin Bitcoin is a website where you can bet bitcoins on real world events. There are two ways to earn bitcoins:</h3>

        <div>
            <%= link_to 'Bet On Existing' ,bet_existing_path,:class=> "btn btn-lg btn-primary"%>
            <%= link_to 'Create a new Bet' ,bet_new_path,:class=> "btn btn-lg btn-primary"%>
        </div>
      </div>
    </div>
    <div>
      <%= render 'current_bets' %>
    </div>
  <%else%>
    <div class="jumbotron">
      <div class="container center">
        <h1>Welcome</h1>
        <p>Plase sign up to continue </p>
        <%= link_to 'Sign Up >>' ,signup_path ,:class=> "btn btn-lg btn-primary"%>
      </div>
    </div>
  <%end%>
